<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>
      Challenge Wizard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1">
  <div *ngIf="saving">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="!saving">
    <div *ngIf="foundWorkout && foundWorkout._id">
      <div class="ion-padding">
        <div style="margin-top: 20px; text-align: center;">Add exercises to your challenge</div>  
      </div>
  
      <div class="list-label" style="margin-top: 20px;">Exercises</div>
      <ion-list *ngIf="foundActivities.length > 0">
        <ion-reorder-group disabled="false" (ionItemReorder)="reorder($event)">
            <ion-item *ngFor="let activity of foundActivities" style="cursor: pointer;" (click)="editActivity(activity._id)">
              <ion-reorder slot="start"></ion-reorder>
              <ion-label>
                <span *ngIf="activity.logLabel">{{activity.goal}} {{activity.logLabel}}</span>
                <span *ngIf="!activity.logLabel">{{activity.goal}} {{activity.label}}</span>
              </ion-label>  
              <ion-button fill="clear" slot="end" (click)="deleteActivity(activity, $event)">
                <ion-icon style="cursor: pointer" name="close"></ion-icon>
              </ion-button>
            </ion-item>
        </ion-reorder-group>
      </ion-list>
  
      <ion-list lines="full">
        <ion-item button style="color: #387fff; text-align: center" (click)="createActivity()">
          <span *ngIf="foundActivities.length === 0">
            Add an exercise
          </span>
          <span *ngIf="foundActivities.length > 0">
            Add another exercise
          </span>
        </ion-item>
      </ion-list>
  
      <div class="ion-padding">
        <ion-button color="success" expand="block" (click)="save()">
          NEXT STEP
        </ion-button>
      </div>
    </div>
  </div>




</ion-content>