<div class="job-applicant-quiz-review">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-button style="color: #fff;" [disabled]="currentApplicationNumber === 1" (click)="previousApplicant()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Applicant {{ currentApplicationNumber }} of {{ totalApplicationNumber }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="color: #fff;" [disabled]="currentApplicationNumber === totalApplicationNumber" (click)="nextApplicant()">
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <ion-list>
    <ion-item *ngFor="let question of jobQuestions; index as i" detail="true">
      <ion-col>
        <ion-label *ngIf="question" class="item-label" (click)="viewHomework(question, i)">
          <h2>Question #{{ (i + 1) }}</h2>
          <h3>{{ question.question }}</h3>
          <p class="question-answer">Answer: </p>
          <p class="answer" *ngIf="questions[question._id]">{{ questions[question._id].response }}</p>
        </ion-label>
        <ion-label class="item-label" style="margin-top: 5px;">
          <h4 style="font-weight: bold;">You Rated</h4>
          <ng-container *ngIf="question && questions[question._id]">
            <star-rating [rate]="questions[question._id].rate" [type]="quizType" [application]="currentApplication" [questionId]="question._id"></star-rating>
          </ng-container>
        </ion-label>
      </ion-col>
    </ion-item>
  </ion-list>
</div>