<div class="job-applicant-quiz-review">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-button style="color: #fff;" [disabled]="currentApplicationNumber === 1" (click)="previousApplicant()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Applicant {{ currentApplicationNumber }} of {{ totalApplicationNumber }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="color: #fff;" [disabled]="currentApplicationNumber === totalApplicationNumber" (click)="nextApplicant()">
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <ion-list>
    <ion-item *ngFor="let question of jobApiService.foundJob.tests.homework.questions; index as i" detail="true" (click)="viewHomework()">
      <ion-label class="item-label">
        <h2>Question #{{ (i + 1) }}</h2>
        <h3>{{ question.question }}</h3>
        <p class="question-answer">Answer: </p>
        <p class="answer" *ngIf="questions[question._id]">{{ questions[question._id].response }}</p>
        <h4 style="font-weight: bold;">You Rated</h4>
        <!-- <bar-rating rate="3" max="4" theme="'movie'" showText="true"></bar-rating> -->
        <!-- <ionic4-star-rating
          readonly="false"
          rating="3"
          fontSize = "32px">
        </ionic4-star-rating> -->
      </ion-label>
      <!-- <ion-card>
        <ion-card-header>
          <ion-card-title>Question #{{ (i + 1) }}</ion-card-title>
          <ion-card-subtitle>{{ question.question }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{ questions[question._id].response }}
        </ion-card-content>
      </ion-card> -->
    </ion-item>
  </ion-list>
</div>