<ion-item  style="--padding-start: 0px;" lines="none" *ngIf="challengeRowItem" class="challenge-row">
  <!-- <ion-col  (click)="sendMessage($event)" *ngIf="userService.user.avatar" style="padding: 5px 5px 5px 10px; width: 50px; max-width: 50px;">
    <user-avatar [imageName]="userService.user.avatar"></user-avatar>
  </ion-col> -->
  <div slot="start" *ngIf="!challengeRowItem.stats"  style="padding-left: 5px; padding-top: 5px;">
    <user-avatar *ngIf="challengeRowItem.userId" [width]="'40px'" [height]="'40px'" [imageName]="userAvatar"></user-avatar>
    <challenge-team-icon *ngIf="challengeRowItem.teamId" [icon]="userAvatar"></challenge-team-icon>
  </div>
  <div slot="start" (click)="userStats.showStats($event)" *ngIf="challengeRowItem.stats"  style="padding-left: 5px; padding-top: 5px; width: 100px;">
    <user-avatar [width]="'40px'" [height]="'40px'" [imageName]="userAvatar"></user-avatar>
    <user-stats style="position: relative;
      top: -10px;
      margin-bottom: -10px;" #userStats [displayName]="challengeRowItem.display" [userStats]="challengeRowItem.stats"></user-stats>
  </div>
  <ion-label>
    <h3 style="overflow-x: hidden; text-overflow: ellipsis;">{{ challengeRowItem.display }} <span *ngIf="challengeRowItem.userId === userService.user._id">(you)</span></h3>
    <div class="invitation-pending" *ngIf="challengeRowItem.invitationStatus === 'sent'">
      invitation pending
    </div>
    <div class="invitation-pending" *ngIf="challengeRowItem.invitationStatus === 'left challenge'">
      left challenge
    </div>
    <div class="invitation-pending" *ngIf="challengeRowItem.invitationStatus === 'rejected'">
      rejected invitation
    </div>
    <div *ngIf="challengeRowItem.invitationStatus === 'accepted'">
      <div>
        <div style="float:right; font-size: 15px; color: #666;  padding-left: 5px;">
          {{ percentLabel }}
        </div>
        <div style="overflow:hidden;">
          <div class="gradBar" [ngStyle]="gradBar"></div>
          <div class="gradLightGray" [ngStyle]="gradBarToGo"></div>
        </div>
      </div>
  
    </div>
  </ion-label>
</ion-item>