<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ (index + 1) }} of {{ total }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="job-applicant-review-modal">
  <div *ngIf="saving">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="!saving && question" class="content-modal">
    <ion-row class="row-question-title">
      <div>Question #{{ (index + 1) }} of {{ total }} </div>
      <p>Choose to either record of type your question (or do both)</p>
    </ion-row>
    <ion-row class="row-question-question">
      <div>{{ question.question }}</div>
    </ion-row>
    <ion-row>
      <div *ngIf="question.explanation" class="alert alert-info" style="width: 100%; padding: 5px; margin-right: 10px; margin-left: 10px;">
        <b style="font-size: 10px;">Explanation:</b>
        <div style="overflow-y: auto;">
          {{ question.explanation }}
        </div>
      </div>
    </ion-row>
    <ion-row class="row-quesiton-content">
      <ion-col>
        <ion-row class="answer-header">
          <p class="answer-header-title">Answer #{{ currentAnswerIndex + 1 }} of {{ answers.length }}</p>
          <div class="answer-header-button">
            <ion-buttons style="float: left;">
              <ion-button style="color: #6f6f6f;" [disabled]="currentAnswerIndex === 0" (click)="previousAnswer()">
                <ion-icon name="arrow-dropleft"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons>
              <ion-button style="color: #6f6f6f;" [disabled]="currentAnswerIndex === (answers.length - 1)" (click)="nextAnswer()">
                <ion-icon name="arrow-dropright"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
          
        </ion-row>
        <ion-row class="answer-content">
          <div *ngIf="answers.length > 1 && (currentAnswerIndex === answers.length - 1)" class="alert alert-danger">
              Applicant was reset, this is the latest submission
          </div>
          <div *ngIf="(answers.length > 1) && (currentAnswerIndex < (answers.length - 1))" style="padding-top: 10px;" class="alert alert-danger">
            <ion-icon name="alert"></ion-icon> This is an old version of the applicant's answer
          </div>
          <p>{{ currentAnswer.response }}</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="row-question-rate">
      <ion-col size="12" class="rating-title">Rate this answer</ion-col>
      <ion-col size="12">
        <ng-container>
          <star-rating [rate]="question.rating" [name]="question._id"></star-rating>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding: 0;">
        <ion-row>
          <ion-col size="12" class="rating-title">Comments</ion-col>
          <ion-col size="12">
            <ion-list class="comment-list">
              <ion-item style="cursor: pointer;" detail="true" *ngFor="let comment of comments">
                <ion-label>{{ comment.message.body }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>

        </ion-row>
        <ion-row class="row-question-comment">
          <ion-textarea [(ngModel)]="messageText" rows="6" placeholder="Comments"></ion-textarea>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>