<ion-header>
  <ion-toolbar>

    <ion-title>
      Select Team
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon style="font-size: 30px" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1">
  <div class="list-label" style="margin-top: 20px; margin-bottom: 0px;">Select a team to join</div>
  <ion-list style="margin-top: 10px;">
    <ion-item (click)="selectTeam(team);" *ngFor="let team of foundChallenge.teams.roster">
      <div slot="start">
        <challenge-team-icon [icon]="team.icon"></challenge-team-icon>
      </div>
      <ion-label>
        {{ team.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>