<ion-content class="password-reset padding">
  <ion-row *ngIf="!passwordChanged">
    <ion-col>
      Type in a new password
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input placeholder="Password"
          type="password" id="password" name="pasword" [(ngModel)]="model.password">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="passwordReset()">
        RESET PASSWORD
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="errorMessage">
    <ion-col>
      <ion-item>
        {{ errorMessage }}
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
