<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <span *ngIf="mode === 'new'">Back</span>
        <span *ngIf="mode === 'edit'">Cancel</span>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Challenge Wizard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="mode === 'edit'" (click)="save()">Save</ion-button>
      <ion-button *ngIf="mode === 'new'" (click)="nextStep()">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #e6ebf1">
  <div *ngIf="saving">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="!saving">
    <!-- <div class="list-label" style="margin-top: 20px;">
      Challenge Name
    </div> -->

    <!-- <div style="font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  color: #666;
  text-align: center;">
      examples: <i>monday, 40 miles in a week, 100 pushups</i>
    </div> -->
    <ion-item lines="full" style="margin-top: 20px;">
      <ion-label slot="start">Name</ion-label>
      <ion-input type="text" style="text-align: right" [(ngModel)]="challengeName" placeholder="enter a challenge name">
      </ion-input>
    </ion-item>

    <!-- <div class="list-label" style="margin-top: 40px;">
      Challenge Duration
    </div> -->

    <div>
      <ion-item lines="full">
        <ion-label>Start</ion-label>
        <ion-datetime  [(ngModel)]="challengeStartDate"></ion-datetime>
      </ion-item>
      <ion-item lines="full">
        <ion-label>End</ion-label>
        <ion-datetime max="2025-01-01"  [(ngModel)]="challengeEndDate"></ion-datetime>
      </ion-item>
    </div>

    <div *ngIf="mode === 'simple'">
      <ion-item lines="full">
        <ion-label>Start</ion-label>
        <ion-select [(ngModel)]="challengeStart" (ionChange)="getDuration()" [interfaceOptions]="customAlertOptionsStart"
          interface="alert" placeholder="Select One">
          <ion-select-option value="today">Today</ion-select-option>
          <ion-select-option value="tomorrow">Tomorrow</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label placement="start">End in day(s)</ion-label>
        <ion-input type="number" inputmode="numeric" style="text-align: right" [(ngModel)]="challengeEnd" (change)="getDuration()">
        </ion-input>
      </ion-item>
    </div>

    <!-- <div style="text-align: center;
      margin: 10px;
      color: #777;
      font-size: 12px;">{{ durationDesc }}</div> -->
    <div style="text-align: center;
    margin: 10px;
    color: #777;
    font-size: 12px;">Challenges <b>Start at 12:00 AM</b> and <b>End at 11:59 PM</b> of the dates selected.</div>

    <div *ngIf="challengeStartDate !== challengeEndDate" style="margin-top: 20px;">
      <ion-item lines="full">
        <ion-label placement="start">Reset counters every day</ion-label>
        <ion-toggle [(ngModel)]="resetCounters"></ion-toggle>
      </ion-item>

      <div style="text-align: left;
        margin: 10px;
        color: #777;
        font-size: 12px;">Reset a counter for "daily" challenges, like 100 push-ups a day.  Keep this setting off if you want a challenge like 500 push-ups for a week.</div>
    </div>

    <div class="ion-padding" *ngIf="mode === 'new'">
      <ion-button color="success" expand="block" (click)="nextStep()">
        NEXT STEP
      </ion-button>
    </div>

    <div *ngIf="mode === 'new' && !showAdvanced" style="margin: 10px; text-align: center; color: #777; font-size: 12px;">
      Click <a (click)="showAdvanced = true" style="text-decoration: underline;">here</a> to show advanced options.  You can come back later to configure these settings.
    </div>

    <div *ngIf="mode === 'edit' || showAdvanced">
      <div class="list-label" style="margin-top: 20px; margin-bottom: 0px;">ADVANCED OPTIONS</div>
      <!-- <ion-item lines="full" style="margin-top: 20px;">
        <ion-label placement="start">Broadcast Status</ion-label>
        <ion-toggle [(ngModel)]="notifications.broadcastStatus"></ion-toggle>
      </ion-item>
      <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
        Broadcast to all when a participants passes 33%, 66% and 100% of the goal
      </div> -->

      <ion-item detail="true" lines="full" style="margin-top: 10px;">
        <ion-label placement="start">Banner Image</ion-label>
        <img (click)="changeBanner()" style="height: 50px; max-width: 200px;" *ngIf="advanced.bannerImage" [src]="advanced.bannerImage">
        <img (click)="changeBanner()" style="height: 50px;" *ngIf="!advanced.bannerImage" src="https://logreps-public.s3.amazonaws.com/images/banners/challenge-background-03.png">

        <!-- <ion-input type="text" style="text-align: right" [(ngModel)]="advanced.bannerImage" placeholder="https://server.com/image.png">
        </ion-input> -->
      </ion-item>

      <div class="list-label" style="margin-top: 20px; margin-bottom: 0px;">DESCRIPTION</div>
      <ion-item lines="full" style="margin-top: 10px;">
        <ion-textarea type="text" style="text-align: left" rows="10" [(ngModel)]="challengeDescription" placeholder="describe your challenge">
        </ion-textarea>
      </ion-item>

      <div class="list-label" style="margin-top: 20px; margin-bottom: 0px;">TEAMS</div>
      <ion-item detail="true" lines="full" style="margin-top: 10px;">
        <ion-label placement="start" (click)="setupTeams()">Setup Teams</ion-label>
      </ion-item>

      <div style="margin: 10px;
      color: #777;
      font-size: 12px;">Turn your challenge from an individual to a group/team challenge where people work together to meet the challenge goals</div>


      <ion-item lines="full" style="margin-top: 20px;">
        <ion-label placement="start">Show Totals (not percent)</ion-label>
        <ion-toggle [(ngModel)]="advanced.showTotalsInsteadOfPercent"></ion-toggle>
      </ion-item>
      <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
        Instead of showing "Nick at 75%", instead show a total like "Nick at 120 complete".  This is a better way to display a challenge like 2,000 pushups in one month.
      </div>

      <ion-item lines="full" style="margin-top: 20px;">
        <ion-label placement="start">Broadcast Participant Progress</ion-label>
        <ion-toggle [(ngModel)]="notifications.broadcastStatus"></ion-toggle>
      </ion-item>
      <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
        LogReps pushes notifications at approximately 33%, 66%, and 100% complete for each participant.  If you have many participants, we recommend you turn this off.
      </div>

      <ion-item lines="full" style="margin-top: 20px;">
        <ion-label placement="start">Broadcast Participant Joining</ion-label>
        <ion-toggle [(ngModel)]="notifications.broadcastJoins"></ion-toggle>
      </ion-item>
      <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
        LogReps pushes notifications whenever someone joins a challenge.  If you have many participants, we recommend you turn this off.
      </div>

      <ion-item lines="full" style="margin-top: 20px;">
        <ion-label placement="start">Donate Button</ion-label>
        <ion-input type="text" style="text-align: right" [(ngModel)]="advanced.donateUrl" placeholder="https://server.com/donate.html">
        </ion-input>
      </ion-item>
      <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
        Use LogReps to track challenges like "2000 Pushups for Cancer".  Adding a donation link will show a button on your public challenge page.
      </div>

      <div class="ion-padding" *ngIf="mode === 'edit'">
        <ion-button color="success" expand="block" (click)="save()">
          SAVE
        </ion-button>
      </div>
    </div>



  </div>


</ion-content>