<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="invite()">
        Invite
      </ion-button>
    </ion-buttons> -->
    <ion-title>
      Challenge Participants
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon style="font-size: 30px" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
</ion-header>
<ion-content style="--background: #e6ebf1">
  <ion-list *ngIf="challengeUsers && challengeUsers.length > 0" class="no-last-border">
    <ion-item style="--padding-start: 0px; " detail="true" *ngFor="let challengeUser of challengeUsers;"
      (click)="viewDetail(challengeUser)">
      <challenge-row [challengeHydrated]="foundChallenge" [challengeRowItem]="challengeUser" style="width: 100%; margin-bottom: 5px;"></challenge-row>
    </ion-item>
    <ion-item *ngIf="challengeUsers.length < foundChallenge.users.length" (click)="loadMore()"
      style="--padding-start: 0px; color: #387fff; text-align: center">
      <ion-label>
        Load more
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>