<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1">
  <div *ngIf="saving">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="!saving">
    Homework Review Screen
  </div>
</ion-content>