<ion-header class="home-list-header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="width: 100%; text-align: center;">
      Organization
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1" class="home-list-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="">
    </ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <ion-list style="border-top: 2px solid #ccc;">
    <ion-item style="cursor: pointer;" detail="true" *ngFor="let org of organizationDataService.organizations" (click)="selectOrg(org)">{{ org.name }}</ion-item>
  </ion-list>
</ion-content>