<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      Challenge Wizard
    </ion-title>
    <ion-buttons slot="end" *ngIf="!userService.user.isTempAccount">
      <ion-button (click)="nextStep()">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding" style="line-height: 24px;">
    <div *ngIf="saving">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
    <div *ngIf="!saving">
      <div *ngIf="userService.user.isTempAccount" class="alert alert-warning">
        <div>
          You must first login (for free) to create challenges
        </div>

        <login-code></login-code>
      </div>
      <h4>
        Challenges are a fun way to engage with your friends.
      </h4>

      <img src="./assets/img/misc/challenge1.jpg">

      <div style="margin-top: 20px; font-weight: bold;">
        Challenge ideas
      </div>
      <div>
        <ul>
          <li>100 push-ups in a day</li>
          <li>Run 30 miles in a week</li>
          <li>1,000 sit-ups in a month</li>
        </ul>
      </div>

      <div *ngIf="!userService.user.isTempAccount">
        <div class="ion-padding">
          <ion-button expand="block" color="success" fill="solid" (click)="nextStep()">CREATE CHALLENGE</ion-button>
        </div>            
      </div>
    </div>
  </div>
</ion-content>