.activity-row {
  .gradBar {
    height: 10px;
    display:inline-block;
    border-radius: 5px;
  }

  .gradLightGray {
    display: inline-block;
    background-color: #e8e8e8;
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display:inline-block;
    position: relative;
    left: -3px;
  }
}
