<ion-header class="challenge-list-header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start" (click)="backButton()">
      <ion-button style="color: #fff;">
        Back
     </ion-button>
    </ion-buttons>
    <ion-title>
      {{ titleMode }} - {{ jobApiService.foundJob?.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1;" class="challenge-list">
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <ng-container *ngIf="!isLoading">
    <app-job-applicant-quiz-review [mode]="mode"></app-job-applicant-quiz-review>
  </ng-container>
</ion-content>