<span class="challenge-timer" *ngIf="foundChallenge && foundChallenge.lookups">
  <span class="not-started" *ngIf="foundChallenge.lookups.timeToStart > 0">
    <span *ngIf="mode === 'long'">Challenge starts</span><span *ngIf="mode === 'short'">Starts</span> in <countdown [endTimer]="foundChallenge.lookups.timeToStart"></countdown>
    <!-- <span *ngIf="mode === 'short' && foundChallenge.reset && foundChallenge.reset.enabled">, resets at {{ foundChallenge.resetDate | date: 'h a' }}</span> -->
  </span>
  <span class="inprogress" *ngIf="foundChallenge.lookups.timeToStart < 0 && foundChallenge.lookups.timeToEnd > 0">
    <span *ngIf="mode === 'long'">Challenge ends</span><span *ngIf="mode === 'short'">Ends</span> in <countdown [endTimer]="foundChallenge.lookups.timeToEnd"></countdown>
    <!-- <span *ngIf="mode === 'short' && foundChallenge.reset && foundChallenge.reset.enabled">, resets at {{ foundChallenge.resetDate | date: 'h a' }}</span> -->
  </span>
  <span class="finished" *ngIf="foundChallenge.lookups.timeToStart < 0 && foundChallenge.lookups.timeToEnd < 0">
    Challenge Finished
  </span>
  <div class="reset-stats" *ngIf="mode === 'long' && foundChallenge.reset && foundChallenge.reset.enabled">
    Stats reset everyday at {{ foundChallenge.resetDate | date: 'h:mm a' }}
  </div>
</span>