.challenge-timer {
  .not-started {
    color: #777;
  }

  .inprogress {
    color: green;
  }

  .finished {
    color: red;
  }

  .reset-stats {
    font-weight: normal;
    font-size: 12px;
  }
}