<ion-header>
  <ion-toolbar class="top-toolbar">
    <!-- <ion-buttons slot="start">
      <ion-button (click)="dismiss()" style="color: #fff;">
        X
      </ion-button>
    </ion-buttons> -->
    <ion-title>
      Reactions
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" style="color: #fff; font-weight: bold;">
        X
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="emote-detail-modal-content" style="--background: #e6ebf1">
  <ion-list lines="full" style="margin-top: 20px;">
    <ion-item *ngFor="let emoteItem of emoteItems">
      <user-avatar slot="start" [width]="'40px'" [height]="'40px'" [imageName]="emoteItem.fromUserAvatar"></user-avatar>
      <ion-label>
        <div>{{ emoteItem.fromUserDisplay }}</div>
      </ion-label>
      <div slot="end">
        <img *ngIf="emoteItem.emote === 'like'" src="/assets/img/emotes/like.svg">
        <img *ngIf="emoteItem.emote === 'love'" src="/assets/img/emotes/love.svg">
        <img *ngIf="emoteItem.emote === 'wow'" src="/assets/img/emotes/wow.svg">
        <img *ngIf="emoteItem.emote === 'haha'" src="/assets/img/emotes/haha.svg">
      </div>
      <!-- <div>{{ emoteItem.date }}</div> -->
    </ion-item>
  </ion-list>
</ion-content>