.user-avatar {
  justify-content: center;
  display: flex;
  text-align: center;
  .avatar-img {
    img {
      border-radius: 50%;
    }
  }

  .avatar-container-small {
    border-radius: 50%;
    color: #fff;

    .avatar {
      text-align: center;
      font-size: 14px;
    }
  }
}