
.social-friend-list {
  .quote-holder {
    position: absolute;
  }
  .quote {
    font-size: 50px;
    font-family: times;
    line-height: 14px;
    color: #ccc;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    position: relative;
    top: 7px;
  }
}
