<div *ngIf="contactService && contactService.foundContacts" class="social-friend-list">
  <div *ngIf="contactService.loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div>
    <div *ngIf="contactService.foundContacts.length > 0" style="margin-top: 20px;">
      <div class="list-label">My Friends</div>
      <ion-card style="margin-top: 10px;">
        <ion-list detail lines="full">
          <ng-container *ngFor="let foundContact of contactService.foundContacts; let i = index;">
            <ion-item *ngIf="showFullFriendList || i < 3" detail (click)="openChat(foundContact)" style="--padding-start: 0px;">
              <div slot="start" *ngIf="!foundContact.stats"  style="padding-left: 5px; padding-top: 5px;">
                <user-avatar [width]="'40px'" [height]="'40px'" [imageName]="foundContact.avatar"></user-avatar>
              </div>
              <div slot="start" *ngIf="foundContact.stats"  style="padding-left: 5px; padding-top: 5px; width: 90px;">
                <user-avatar [width]="'40px'" [height]="'40px'" [imageName]="foundContact.avatar"></user-avatar>
                <user-stats #userStats [displayName]="foundContact.publicName" [userStats]="foundContact.stats"></user-stats>
              </div>
              <ion-label>
                <!-- <pre> {{ foundContact | json }}</pre> -->
                <div style="font-size: 20px;">{{ foundContact.publicName }}</div>
                <p style="font-size: 12px;">{{ foundContact.lookups.tagLine }}</p>
              </ion-label>
            </ion-item>
          </ng-container>

          <ion-item style="--padding-start: 0px; " detail="true"
            style="color: #387fff; text-align: center"
            *ngIf="!showFullFriendList && contactService.totalCount > 3" (click)="showFullFriendList = true;">
            <ion-label>
                Show +{{ contactService.totalCount - 3 }} other friend(s)
            </ion-label>
          </ion-item>
          <ion-item (click)="loadMoreButton($event)" *ngIf="showFullFriendList && contactService.foundContacts && contactService.foundContacts.length < contactService.totalCount" button style="color: #387fff; text-align: center">
            <ion-label>
              Load More
            </ion-label>
          </ion-item>
          <ion-item button style="color: #387fff; text-align: center" (click)="invite()">
            <ion-label>
              Invite a friend
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <div class="list-label">My Friends Activities</div>
      <ion-card style="margin-top: 10px;">
        <social-list [mode]="'friends'"></social-list>    
      </ion-card>
    </div>

    <ion-card style="--background: #fff;" class="ion-padding"  *ngIf="!contactService.loading && contactService.foundContacts.length === 0">
      <ion-card-title>
        Friends are a great way to stay motivated
      </ion-card-title>
      <ion-card-content>
        <img src="https://logreps-public.s3.amazonaws.com/images/misc/friends_working_out.jpg">
        <div style="margin-top: 20px; font-weight: bold;">
          Add friends so you can:
        </div>
        <div>
          <ul>
            <li>Invite them to challenges</li>
            <li>Encourage them on their workouts</li>
            <li>Privately chat and engage with them</li>
          </ul>
        </div>

        <ion-list lines="full">
          <ion-button (click)="invite()" color="success" expand="block">Invite a friend</ion-button>
        </ion-list>
      </ion-card-content>

    </ion-card>

  </div>

</div>