<div class="star-rating">
  <div *ngIf="isApplicable">
    <div class="stars">
      <ion-icon class="star-icon" name="{{ positive.display }}" (click)="rating(i+1)" *ngFor="let positive of positives; index as i"></ion-icon>
      <div class="label" *ngIf="displayWords">
        <span *ngIf="rate === '1'">Very Poor</span>
        <span *ngIf="rate === '2'">Poor</span>
        <span *ngIf="rate === '3'">OK</span>
        <span *ngIf="rate === '4'">Good</span>
        <span *ngIf="rate === '5'">Very Good</span>
      </div>
    </div>
    <!-- <div class="cp-stars" *ngIf="!hasResults">
      No Ratings
    </div> -->
  </div>
  <div *ngIf="!isApplicable">
    <!-- <div class="not-applicable">
      -- N/A --
    </div> -->
    <div class="label-na">Not Applicable</div>
  </div>
</div>