<ion-row class="social-item" *ngIf="activityLog">
  <ion-col (click)="userStats.showStats($event)" *ngIf="activityLog.lookups.userAvatar" style="padding: 5px; width: 100px; max-width: 100px;">
    <user-avatar [imageName]="activityLog.lookups.userAvatar"></user-avatar>
    <user-stats #userStats [displayName]="activityLog.lookups.userDisplay" [userStats]="activityLog.lookups.userStats"></user-stats>
  </ion-col>
  
  <ion-col (click)="emote($event)" style="width: 100%">
    <div>
      <div>
        {{activityLog.lookups.userDisplay}} did <b>{{activityLog.count}} {{activityLog.lookups.activityLabel}}</b>
      </div>
    </div>
    <div>
      <div *ngIf="activityLog.lookups" style="display: inline-block; color: #777; font-size: 12px;">{{ activityLog.lookups.created }}</div>
      <div style="float: right; width: 100px; text-align: right;">
        <emote-stats [foundActivityLog]="activityLog"></emote-stats>
      </div>
    </div>
  </ion-col>
</ion-row>