<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>
      Challenge Teams
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1">
  <div *ngIf="saving">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="!saving">
    <div style=" text-align: left;
      padding: 10px;
      color: #000;
      font-size: 14px;
      background: #fff;">
      Welcome to an experimental new feature to organize challenges into "teams".  Participants will join a team, and the team collectively completes the challenge.  <span style="font-weight: bold; color: red;">This is an experimental feature</span>, with plenty of new features to come.  Feedback is welcome at <a href="mailto:support@logreps.com">support@logreps.com</a>.
    </div>

    <ion-item lines="full" style="margin-top: 20px;">
      <ion-label placement="start">Enable Challenge Teams</ion-label>
      <ion-toggle [(ngModel)]="challengeTeams.enabled"></ion-toggle>
    </ion-item>
    <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
      This will force every participant to join a team
    </div>

    <div *ngIf="challengeTeams.enabled">
      <ion-item lines="full" style="margin-top: 20px;">
        <ion-label placement="start">Self Managed Teams</ion-label>
        <ion-toggle [(ngModel)]="challengeTeams.allowTeamCreation"></ion-toggle>
      </ion-item>
      <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
        Turn the above setting ON to allow participants to create their own teams.  Turn the setting OFF so only you, as the challenge creator can create teams.
      </div>
  
      <div class="list-label" style="margin-top: 20px; margin-bottom: 0px;">TEAMS</div>
      <ion-list style="margin-top: 10px;">
        <ion-item (click)="editTeam(team);" *ngFor="let team of challengeTeams.roster">
          <div slot="start">
            <challenge-team-icon [icon]="team.icon"></challenge-team-icon>
          </div>
          <ion-label>
            {{ team.name }}
          </ion-label>
        </ion-item>
        <ion-item button (click)="createTeam()" style="--padding-start: 0px; color: #387fff; text-align: center">
          <ion-label>
            Create New Team
          </ion-label>
        </ion-item>
      </ion-list>
    </div>


  </div>
</ion-content>