<!-- <ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff;"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="color: #fff;" (click)="save()">
        SAVE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div class="activity-log">
  <ion-card style="margin: 10px;">
    <ion-card-header style="padding-top: 10px;">
      <ion-card-subtitle *ngIf="foundActivity">Enter <span style="font-weight: 900; color: #24829b;">New</span> {{ foundActivity.logLabel }} to log</ion-card-subtitle>
      <ion-card-title>
        <div style="text-align: center; font-size: 48px; border: 1px solid #ccc; border-radius: 10px;">
          <ion-input type="number" inputmode="numeric" (ionChange)="logCountChange()" [(ngModel)]="logCount"></ion-input>
        </div>
        <div style="font-size: 11px;
        font-weight: normal;
        text-align: center;
        margin-bottom: -10px;
        margin-top: 5px;
        color: #777;">
          Click above to enter a number or use the buttons below
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding-top: 0px; padding-bottom: 0px;">
      <ion-grid>
        <ion-row style="color: white">
          <ion-col *ngFor="let logCount of plusLogCount" (click)="selectCount(logCount)" class="count-col plus-col"
            size="3">
            {{ logCount.display }}
          </ion-col>
        </ion-row>
        <ion-row style="color: white">
          <ion-col *ngFor="let logCount of minusLogCount" (click)="selectCount(logCount)" class="count-col minus-col"
            size="3">
            {{ logCount.display }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="action-button" (click)="save()"
              style="margin-top: 10px; height: 40px; font-size: 16px;">
              Save / Log Activity
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="!showTimer" lines="full" (click)="showTimer = !showTimer;" style="margin-top: 20px;">
    <ion-label>Start Timer</ion-label>
    <ion-icon slot="end" src="/assets/img/icons/chevron-forward-outline.svg" style="width: 20px;
    color: #c4c4c4;
    margin-right: 0px;"></ion-icon>
  </ion-item>
  <ion-item  *ngIf="showTimer" lines="full" (click)="showTimer = !showTimer;" style="margin-top: 20px;">
    <ion-label>Close Timer</ion-label>
    <ion-icon slot="end" src="/assets/img/icons/chevron-back-outline.svg" style="width: 20px;
    color: #c4c4c4;
    margin-right: 0px;"></ion-icon>
  </ion-item>
  <div *ngIf="showTimer">
    <stopwatch #stopwatch></stopwatch>
  </div>
  <ion-item lines="full" detail="true" *ngIf="!showAdvanced" (click)="showAdvanced = true;" style="margin-top: 20px;">
    <ion-label>Show Advanced Options</ion-label>
  </ion-item>



  <div *ngIf="showAdvanced">
    <div class="list-label" style="margin-top: 40px;">
      CHANGE DATE / TIME
    </div>
    <ion-item>
      <ion-label>Log Date</ion-label>
      <ion-datetime [(ngModel)]="logDate" [min]="minDate" [max]="maxDate" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime [(ngModel)]="logTime" displayFormat="h:mm a" placeholder="Select Time"></ion-datetime>
    </ion-item>
  
  
    <div class="list-label" style="margin-top: 40px;">
      HEALTH DATA
    </div>
  
    <ion-item *ngIf="foundActivity && foundActivity.measurement !== 'time'">
      <ion-label>Duration (minutes)</ion-label>
      <ion-input type="number" inputmode="numeric" min="0.1" style="text-align: right;" [(ngModel)]="logDuration" placeholder="Set a duration time">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calories (per minute)</ion-label>
      <ion-input type="number" inputmode="numeric" style="text-align: right;" [(ngModel)]="logCaloriesPerMinute" (change)="saveCalories()" placeholder="10"></ion-input>
    </ion-item>
  
    <div (click)="openUserHealth()" style="text-align: center;
      margin: 10px;
      margin-bottom: 40px;
      color: #777;
      font-size: 12px;">
        Click <a style="text-decoration: underline;">here</a> to change your health settings.
    </div>
  </div>

  <div *ngIf="youtubeLink" style="margin-top: 20px;">
    <div class="list-label">
      Instructions
    </div>

    <div class="iframe-container">
      <iframe width="560" height="315" [src]="youtubeLink" frameborder="0" allowfullscreen>
      </iframe>  
    </div>
  </div>

</div>