<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>
      Challenge Wizard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="mode === 'edit'" (click)="startChallenge()">
        Send
      </ion-button>
      <ion-button *ngIf="mode === 'new'" (click)="startChallenge()">
        Start
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e6ebf1;">
  <ion-item lines="full" button (click)="shareInvitationLink()" style="margin-top: 20px; color: #387fff; text-align: center;">
    <ion-label>
      Share Invitation Link
    </ion-label>
  </ion-item>

  <div class="list-label" style="margin-top: 20px;">
    Select Your Friends To Invite
  </div>
  <ion-list lines="full">
    <ion-item *ngFor="let friend of friends">
      <ion-checkbox slot="start" (ionChange)="checkCanStartChallenge()" [(ngModel)]="friend.isChecked"></ion-checkbox>
      <user-avatar [width]="'40px'" [height]="'40px'" [imageName]="friend.avatar"></user-avatar>
      <ion-label style="padding-left: 8px">{{friend.display}}</ion-label>
    </ion-item>
    <!-- <ion-item lines="full" button (click)="addFriend()" style="color: #387fff; text-align: center;">
      <ion-label>
        Invite new friends to LogReps
      </ion-label>
    </ion-item> -->
  </ion-list>

  <div *ngIf="userService && userService.user && userService.user.stats && userService.user.stats.challengesCreated > 0">
    <div class="list-label" style="margin-top: 20px;">
      Select friends from previous challenges
    </div>
    <ion-list lines="full">
      <ion-progress-bar *ngIf="loadingPreviousChallenges" type="indeterminate"></ion-progress-bar>
      <div *ngIf="!loadingPreviousChallenges && (!foundChallenges || foundChallenges.length === 0)">
        <ion-item>
          <ion-label>
            No challenges found
          </ion-label>
        </ion-item>
      </div>
      <ion-item *ngFor="let foundChallenge of foundChallenges">
        <ion-checkbox slot="start" (ionChange)="checkCanStartChallenge()" [(ngModel)]="foundChallenge.lookups.sendInvitation"></ion-checkbox>
        <ion-label style="padding-left: 8px">{{foundChallenge.name}} <span style="font-size: 12px; color: #777;">({{ foundChallenge.lookups.usersWithIds }} participants)</span></ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- <ion-list lines="full">
    <ion-progress-bar *ngIf="loadingPreviousChallenges" type="indeterminate"></ion-progress-bar>
    <div *ngIf="!loadingPreviousChallenges && (!challengeUsers || challengeUsers.length === 0)">
      <ion-item>
        <ion-label>
          No friends found
        </ion-label>
      </ion-item>
    </div>
    <ion-item *ngFor="let challengeUser of challengeUsers">
      <user-avatar [width]="'40px'" [height]="'40px'" [imageName]="challengeUser.avatar"></user-avatar>
      <ion-label style="padding-left: 8px">{{challengeUser.display}}</ion-label>
      <ion-checkbox slot="start" (ionChange)="checkCanStartChallenge()" [(ngModel)]="challengeUser.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list> -->

  <div class="ion-padding">
    <ion-button *ngIf="mode === 'new'" expand="block" color="success" fill="solid" (click)="startChallenge()">START CHALLENGE</ion-button>
    <ion-button *ngIf="mode === 'edit'" expand="block" color="success" fill="solid" (click)="startChallenge()">SEND INVITES</ion-button>
  </div>
</ion-content>