.stats-calendar-week {
  width: 100%;
  .stat-container {
    margin: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 30px;
    height: 231px;
    border: 1px solid #25829b;
  }
}
