<ion-header class="activity-list-header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="width: 100%; text-align: center;">
      {{ workoutName }}
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button style="color: #fff;" (click)="editWorkout()">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="date-navigation">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" (click)="changeHeaderDate(-1)">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <h2 class="title" style="color: #007090; font-size: 14px; text-align: center;">{{dashboardSubHeader}}</h2>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" [ngClass]="{'buttonHeaderNavigationOff':dashboardSubHeader === 'Today'}"
            (click)="changeHeaderDate(1)">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content style="--background: #e6ebf1" class="activity-list-content">
  <!-- <div *ngFor="let log of globalService.logs">
    <pre>{{ log }}</pre>
  </div> -->
  <!-- <div class="alert alert-danger too-wide" style="margin-top: 20px;">
    This app is intended to be used on mobile devices. You can install it on Apple and Google stores under the search
    term "LogReps".
  </div> -->
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <!-- <div class="tutorial-tip" *ngIf="showToggleWorkout" style="text-align: left !important">
    <div class="tutorial-box">
      <div class="tutorial-title">
        You can change your workout at any
        time by clicking the top left button
      </div>
      <br />
      <ion-button (click)="closeChangeWorkoutTip()" expand="block" color="danger">
        OK
      </ion-button>
      <div class="tutorial-arrow-up-left">
        <img src="/assets/img/intro/arrow-up.svg">
      </div>
    </div>
  </div> -->

  <div *ngIf="userService && userService.user && userService.user.stats && userService.user.stats.totalDaysLogged >= 2">
    <banner-ad [mode]="'dashboard'"></banner-ad>
  </div>

  <invites></invites>

  <div class="wrapper">
    <div *ngIf="foundChallenges && foundChallenges.length > 0">
      <div style="margin-top: 20px;" class="list-label">My Challenges</div>
      <ion-card style="margin-top: 10px;">
        <ion-item *ngFor="let foundChallenge of foundChallenges" style="--padding-top: 10px; --padding-bottom: 10px;"
          (click)="viewChallenge(foundChallenge)" lines="full" detail>
          <div slot="start" style="text-align: center">
            <ion-icon style="color: #fff;
          font-size: 34px;
          background: #54cc54;
          border-radius: 50%;
          padding: 5px;" name="trophy"></ion-icon>
          </div>
          <ion-label>
            <div style="font-size: 20px; color: #000;">
              {{ foundChallenge.name }}

            </div>
            <div style="font-size: 14px;">
              <challenge-timer [mode]="'short'" [challenge]="foundChallenge"></challenge-timer>
            </div>
          </ion-label>
        </ion-item>

      </ion-card>

      <div style="margin-top: 20px;" class="list-label">My Personal Workout</div>
    </div>

    <div *ngIf="activities" style="margin-top: 1px;">
      <ion-card style="margin-top: 10px;">
        <ion-list lines="full">
          <ion-item-sliding #slidingActivities *ngFor="let activity of activities">
            <ion-item (click)="viewDetail(slidingActivities, activity)">
              <activity-row [showAdd]="true" [activity]="activity" [parent]="'list'" style="width: 100%;">

              </activity-row>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option style="background-color: #00b100; color: #fff"
                (click)="editActivity(slidingActivities, activity)">
                <div style="color: #fff;">Edit</div>
              </ion-item-option>
              <!-- <ion-item-option  style="background-color: transparent" (click)="deleteActivity(slidingActivities, activity)"><ion-icon style="font-size: 32px; color: red" name="ios-close-circle"></ion-icon></ion-item-option> -->
            </ion-item-options>
            <ion-item-options side="end">
              <ion-item-option style="background-color: #00b100; color: #fff"
                (click)="createActivityLog(slidingActivities, activity)">
                <div style="color: #fff;" *ngIf="activity.unit">+{{activity.lastLogCount}} {{activity.unit}}</div>
                <div style="color: #fff;" *ngIf="!activity.unit">+{{activity.lastLogCount}} reps</div>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item button *ngIf="!tipsService.tips.showLogActivity"
          (click)="createActivity()" style="--padding-start: 0px; color: #387fff; text-align: center">
          <ion-label>
            Add another exercise
          </ion-label>
        </ion-item>
        </ion-list>

      </ion-card>
    </div>

  </div>

  <div class="ion-padding" style="margin-top: 0px; padding-top: 0px;">
    <div>
      <div class="tutorial-tip" *ngIf="activities.length > 0 && (tipsService.tips.showLogActivity)">
        <div class="tutorial-box">
          <div class="tutorial-title">
            Click on a row to<br /> "Log an Activity" like you did "20 push-ups"
          </div>
          <div class="tutorial-arrow-up">
            <img src="/assets/img/intro/arrow-up.svg">
          </div>
        </div>
      </div>

      <div class="tutorial-tip" *ngIf="activities.length > 0 && (tipsService.tips.showQuickLogActivity)">
        <div class="tutorial-box">
          <div class="tutorial-title">
            Drag the row left to "Quick Log" an exercise
          </div>
          <div class="tutorial-arrow-up">
            <img src="/assets/img/intro/arrow-up.svg">
          </div>
        </div>
      </div>

      <!-- <div class="tutorial-tip" *ngIf="(tipsService.tips.showAddNewExercise)">
        <div class="tutorial-box">
          <div class="tutorial-arrow-down">
            <img src="/assets/img/intro/arrow-down.svg">
          </div>
          <div class="tutorial-title">
            Add an exercise by clicking on "Edit Workout"
          </div>
        </div>
      </div> -->



      <!-- <div class="ion-padding">
        <div
          *ngIf="userService && userService.user && userService.user.stats && userService.user.stats.totalDaysLogged >= 3">
          <ion-button expand="block" (click)="editWorkout()" fill="outline"
            style="--background: #ffffff; margin-top: 20px;">
            Edit Workout
          </ion-button>


        </div>


        <ion-button expand="block" color="light" (click)="toggleWorkout()" style="margin-top: 20px;">
          Change Workout
        </ion-button>

        <ion-button expand="block" color="primary" (click)="save()">primary</ion-button>
        <ion-button expand="block" color="secondary" (click)="save()">secondary</ion-button>
        <ion-button expand="block" color="tertiary" (click)="save()">tertiary</ion-button>
        <ion-button expand="block" color="success" (click)="save()">success</ion-button>
        <ion-button expand="block" color="warning" (click)="save()">warning</ion-button>
        <ion-button expand="block" color="danger" (click)="save()">danger</ion-button>
        <ion-button expand="block" color="light" (click)="save()">light</ion-button>
        <ion-button expand="block" color="medium" (click)="save()">medium</ion-button>
        <ion-button expand="block" color="dark" (click)="save()">dark</ion-button>

      </div> -->
    </div>
  </div>

  <ion-item button
    *ngIf="tipsService.tips.showLogActivity"
    (click)="createActivity()" style="--padding-start: 0px; color: #387fff; margin-bottom: 20px; text-align: center">
    <ion-label>
      Add another exercise
    </ion-label>
  </ion-item>

  <div style="margin-bottom: 40px;" *ngIf="activityService.totalCaloriesBurned > 0">
    <div style="text-align: center; color: #777">Estimated calories burned:
      <b>{{ activityService.totalCaloriesBurned }}</b></div>
    <div (click)="openUserHealth()" style="text-align: center;
      margin: 10px;
      color: #777;
      font-size: 12px;">
      Click <a style="text-decoration: underline;">here</a> to change your
      health settings.
    </div>
  </div>

  <div style="margin-top: 20px; margin-bottom: 20px;"  *ngIf="!tipsService.tips.showLogActivity">
    <div class="list-label" style="text-align: center; margin: 0px 0px 10px 0px;">Share Your Progress</div>

    <div class="share-buttons" (click)="shareProgress()">
      <div style="background-color: #4267B2;">
        <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">
      </div>
      <div style="background-color: #55acee;">
        <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">
      </div>
      <div style="background-color: #CB2027;">
        <img alt="pinterest sharing button" src="https://platform-cdn.sharethis.com/img/pinterest.svg">
      </div>
      <div style="background-color: #7d7d7d;">
        <img alt="email sharing button" src="https://platform-cdn.sharethis.com/img/email.svg">
      </div>
      <div style="background-color: #95D03A;">
        <img alt="sharethis sharing button" src="https://platform-cdn.sharethis.com/img/sharethis.svg">
      </div>
    </div>
  </div>

  <!-- <div *ngIf='notHasLicense' class="well">
    <purchase-license (purchased) = "handlerPurchase($event)" ></purchase-license>
  </div> -->

  <!-- <div *ngIf="!showToggleWorkout" class="background">
    <div style="
      font-size: 12px;
      color: #425164;
      font-weight: 500;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-style: italic;
      margin-bottom: 2px;
      ">your target muscles for the day</div>
    <muscle disabled="true" [mode]="muscleMode"></muscle>
  </div> -->

  <!-- <ion-fab-button style="float: right" (click)="createActivity()"> + </ion-fab-button> -->

</ion-content>