<ion-header class="challenge-list-activity-modal-header">
  <ion-toolbar>
    <ion-title>
      <challenge-timer [mode]="'short'" [challenge]="foundChallenge"></challenge-timer>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon style="font-size: 30px" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content style="--background: #e6ebf1" *ngIf="challengeUserHydrated">
  <div style="padding-bottom: 20px;">
    <challenge-row style="width: 100%;" [challengeHydrated]="foundChallenge" [challengeRowItem]="challengeUserHydrated"></challenge-row>
  </div>


  <div style="background: #e6ebf1; height: 20px;"></div>

  <div class="ion-padding" *ngIf="foundChallenge.lookups.timeToStart > 0 && userStatus !== 'anonymous'">
    <!-- not started -->
    <div class="alert alert-danger">
      You can start logging activities once this challenge has started
    </div>
  </div>

  <div *ngIf="loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-list *ngIf="!isLoggedInUser || foundChallenge.lookups.timeToStart > 0 || foundChallenge.lookups.timeToEnd < 0">
    <ion-item *ngFor="let activity of challengeUserHydrated.activities">
      <activity-row [activity]="activity" style="width: 100%;">

      </activity-row>
    </ion-item>
  </ion-list>
  <div *ngIf="isLoggedInUser && (!foundChallenge.lookups.timeToStart || (foundChallenge.lookups.timeToStart < 0 && foundChallenge.lookups.timeToEnd > 0))">
    <ion-list style="margin-bottom: 10px;">
      <ion-item-sliding #slidingActivities *ngFor="let activity of challengeUserHydrated.activities">
        <ion-item (click)="viewDetail(slidingActivities, activity)">
          <activity-row [showAdd]="true" [activity]="activity" style="width: 100%;">
    
          </activity-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option style="background-color: #00b100; color: #fff"
            (click)="createActivityLog(slidingActivities, activity)">
            <div style="color: #fff;" *ngIf="activity.unit">+{{activity.lastLogCount}} {{activity.unit}}</div>
            <div style="color: #fff;" *ngIf="!activity.unit">+{{activity.lastLogCount}} reps</div>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div style="text-align: left; margin: 10px; color: #777; font-size: 12px;">
      Click on a row above to log an activity
    </div>
  
    <div style="margin-top: 30px;" class="tutorial-tip" *ngIf="userService && userService.user && userService.user.stats && userService.user.stats.totalDaysLogged < 5">
      <div class="tutorial-box">
        <div class="tutorial-title">
          Click on a row to<br /> "Log an Activity"
        </div>
        <div class="tutorial-arrow-up">
          <img src="/assets/img/intro/arrow-up.svg">
        </div>
      </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px;">
      <div class="list-label" style="text-align: center; margin: 0px 0px 10px 0px;">Share your challenge progress</div>
  
      <div class="share-buttons" (click)="shareProgress()">
        <div style="background-color: #4267B2;">
          <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">
        </div>
        <div style="background-color: #55acee;">
          <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">
        </div>
        <div style="background-color: #CB2027;">
          <img alt="pinterest sharing button" src="https://platform-cdn.sharethis.com/img/pinterest.svg">
        </div>
        <div style="background-color: #7d7d7d;">
          <img alt="email sharing button" src="https://platform-cdn.sharethis.com/img/email.svg">
        </div>
        <div style="background-color: #95D03A;">
          <img alt="sharethis sharing button" src="https://platform-cdn.sharethis.com/img/sharethis.svg">
        </div>
      </div>
    </div>

  </div>



  <div style="font-size: 12px; font-style: italic" class="ion-padding">
    <div *ngIf="showSendInviteButton">
      <ion-button expand="block" color="success" (click)="sendInvitation()">Send Friend Invitation</ion-button>
    </div>
    <div *ngIf="showAcceptInviteButton">
      <ion-button expand="block" color="success" (click)="sendAccept()">Accept Friend Invitation</ion-button>
    </div>
    <div style="text-align: center;">
      <span *ngIf="challengeUserHydrated.contactStatus === 'you'"></span>
      <span *ngIf="challengeUserHydrated.contactStatus === 'not a friend'"></span>
      <span *ngIf="challengeUserHydrated.contactStatus === 'is a friend'"></span>
      <span *ngIf="challengeUserHydrated.contactStatus === 'you have been invited'">You have been invited to be a friend</span>
      <!-- <span *ngIf="challengeUserHydrated.contactStatus === 'you invited them'">you have sent them a friend request</span> -->
      <span *ngIf="challengeUserHydrated.contactStatus === 'you denied this friend request'">You previously denied this friend request</span>
      <span *ngIf="challengeUserHydrated.contactStatus === 'they denied this friend request'">They previously denied your friend request</span>
  
    </div>

  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->