<ion-header class="home-list-header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ organizationDataService?.organization?.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #e6ebf1" class="home-list-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ng-container *ngIf="!isLoading">
    <div *ngIf="jobDataService.jobs.length > 0">
      <ion-card *ngFor="let item of jobDataService.jobs" style="--background: #ffffff;">
        <ion-card-header>
          <ion-card-title>{{ item.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-top: 0px;">
          <ion-list detail>
            <ion-item detail (click)="reviewJobApplicants(item, 'homework')" *ngIf="item.jobCountHomework" style="color: #57a230;">Review Homework ({{ item.jobCountHomework }})</ion-item>
            <ion-item detail (click)="reviewJobApplicants(item, 'interview')" *ngIf="item.jobCountInterview" style="color: #068fee;">Review Interview ({{ item.jobCountInterview }})</ion-item>
            <!-- <ion-item detail (click)="reviewJobApplicants(item, 'qualified')" *ngIf="item.countQualifield" style="color: #7e53c3;">Review Qualified ({{ item.countQualifield }})</ion-item> -->
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card style="--background: #ffffff;" *ngIf="jobDataService.jobs.length === 0">
      <ion-card-header>
        <ion-card-title>You're all done</ion-card-title>
        <ion-card-subtitle>No outstanding reviews</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>