<ion-header class="home-list-header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ organizationService?.organization?.name }}
    </ion-title>
    <ion-buttons slot="end" (click)="backButton()">
      <ion-button style="color: #fff;">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Org</ion-label>
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #e6ebf1" class="home-list-content">
  <div *ngIf="isLoading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ion-list>
    <ion-item style="cursor: pointer;" detail="true" *ngFor="let jobToReview of jobsToReview" (click)="reviewJobApplicants(jobToReview)">
      <ion-label>{{ jobToReview.title }}</ion-label>
      <ion-note slot="end" color="primary" *ngIf="jobToReview.reviewType === 'homework'">
        <ion-chip style="background: #57a230; color: #fff;">
          <ion-label>Homework ({{ jobToReview.count }})</ion-label>
        </ion-chip>
      </ion-note>
      <ion-note slot="end" color="success" *ngIf="jobToReview.reviewType === 'interview'">
        <ion-chip style="background: #068fee; color: #fff;">
          <ion-label>Interview ({{ jobToReview.count }})</ion-label>
        </ion-chip>
      </ion-note>
      <ion-note slot="end" color="success" *ngIf="jobToReview.reviewType === 'qualified'">
        <ion-chip style="background: #7e53c3; color: #fff;">
          <ion-label>Qualified ({{ jobToReview.count }})</ion-label>
        </ion-chip>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>